<header>
  <nav class="bg-black dark:bg-gray-100 fixed w-full z-20 top-0 left-0 border-b border-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <%= link_to root_path, class: "flex items-center space-x-3" do %>
        <span class="self-center text-2xl font-semibold whitespace-nowrap" id="rogo">emouta</span>
      <% end %>
      <!--デスクトップ -->
      <div class="hidden md:flex md:flex-grow items-center justify-between">
        <div class="flex justify-center flex-grow" id="header_link">
          <%= link_to t('defaults.post_listings'), root_path, class: "text-white mr-4" %>
          <%= link_to t('defaults.spotify_music_recommendations'), new_spotify_track_path, class: "text-white" %>
        </div>
        <div>
          <%= link_to t('defaults.login'), new_user_session_path, class: "btn btn-primary" %>
        </div>
      </div>
      <!-- モバイル -->
      <div class="md:hidden">
        <button id="mobile-menu-button" class="text-white focus:outline-none md:hidden" type="button" data-collapse-toggle="mobile-menu" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
      </div>
    </div>
    <div class="hidden" id="mobile-menu">
      <ul class="space-y-2">
        <li><%= link_to t('defaults.post_listings'), root_path, class: "block text-white" %></li>
        <li><%= link_to t('defaults.spotify_music_recommendations'), new_spotify_track_path, class: "block text-white" %></li>
        <li><%= link_to t('defaults.login'), new_user_session_path, class: "block text-white" %></li>
      </ul>
    </div>
  </nav>
</header>
