<div class="mt-8">
  <h2 class="text-xl font-semibold mb-4">Comments</h2>
  <% @comments.each do |comment| %>
    <div class="bg-white shadow rounded-lg p-4 mb-4">
      <p class="text-gray-700"><%= comment.comment %></p>
      <!-- 編集リンクの例 -->
      <% if user_signed_in? && current_user == comment.user %>
        <%= link_to 'Edit', edit_post_post_comment_path(@post, comment), class: "text-blue-500 hover:text-blue-700" %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="mt-8">
  <h3 class="text-xl font-semibold mb-4">New Comment</h3>
  <%= form_with(model: [@post, @new_comment], local: true, class: "bg-white shadow rounded-lg p-4") do |form| %>
    <div class="mb-4">
      <%= form.label :comment, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_area :comment, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", rows: 4 %>
    </div>
    <div class="actions">
      <%= form.submit "Post Comment", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
