<div class="flex justify-center w-full">
  <div class="w-8/12 mb-5" style="overflow-y: auto;">
    <%= link_to post_path(post), id: "post-link-#{post.id}", class: 'no-underline' do %>
      <div id="post-id-<%= post.id %>" class="card card-side bg-base-100 shadow-xl" style="height: 320px; background-color: white;">
        <div class="card-body flex flex-row"> 
          <div class="content flex-1" style="flex: 1 1 65%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; font-family: 'IBM Plex Sans JPu', sans-serif;"> 
            <div class="card-title" style="flex-grow: 1; display: flex; justify-content: center; font-size: 20px; color: black; width: 100%;">
              <%= simple_format(truncate(post.lyrics, length: 100, separator: ' ', omission: '…'), {}, wrapper_tag: "div") %>
            </div>
            <div>
              <ul class="list-inline" style="color: black;"> 
                <li class="list-inline-item"><%= post.song_title %></li>
                <li class="list-inline-item">by <%= post.artist %></li>
              </ul>
            </div>
            <% if post.tags.any? %>
              <ul class="list-inline" style="color: black;">
                <% post.tags.each do |tag| %>
                  <li class="list-inline-item">
                    <%= tag.name %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="flex-2" style="flex: 1 1 35%;">
            <div class="spotify-embed flex flex-col h-full">
              <% if post.link_to_music.include?("spotify.com") %>
                <iframe src="https://open.spotify.com/embed/track/<%= post.link_to_music.split("/").last %>" class="w-full" height="232px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              <% else %>
                <% images = ['投稿アイコン１.png', '投稿アイコン２.png', '投稿アイコン３.png', '投稿アイコン４.png'] %>
                <%= image_tag(images.sample, width: '320', height: '232', style: 'object-fit: cover;') %>
              <% end %>
            </div>
            <div class="card-text text-right" style="color: black;"><%= post.user.name %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
