<div class="flex justify-center w-full">
  <div class="w-8/12 mb-5" style="min-height: 300px; overflow-y: auto;">
    <%= link_to post_path(post), id: "post-link-#{post.id}", class: 'no-underline' do %>
      <div id="post-id-<%= post.id %>" class="card card-side bg-base-100 shadow-xl" style="height: 320px; background-color: white;">
        <div class="card-body flex flex-row" style="color: #10172a;">
          <div class="content flex-1" style="flex: 1 1 65%;">
            <h4 class="card-title" style="font-size: 18px;">
              <%= simple_format(truncate(post.lyricks, length: 100, separator: ' ', omission: '…'), {}, wrapper_tag: "div") %>
            </h4>
            <p class="card-text"><%= simple_format(post.song_title) %></p>
            <p class="card-text">by <%= (post.artist) %></p>
          </div>
          <div class="flex-2" style="flex: 1 1 35%;">
            <div class="spotify-embed flex flex-col h-full">
              <% if post.link_to_music.include?("spotify.com") %>
                <iframe src="https://open.spotify.com/embed/track/<%= post.link_to_music.split("/").last %>" class="w-full" height="232px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              <% else %>
                <!-- 埋め込みがない場合でもエリアを確保 -->
              <% end %>
              <p class="card-text text-right" style="margin: 0;"><%= post.user.name %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
