<div class="flex justify-center w-full">
  <div class="w-8/12 mb-3" style="min-height: 300px; overflow-y: auto;"> 
    <%= link_to post_path(post), id: "post-link-#{post.id}", class: 'no-underline' do %>
      <div id="post-id-<%= post.id %>" class="card card-side bg-base-100 shadow-xl" style="min-height: 300px; background-color: white;">
        <div class="card-body flex flex-row">
          <div class="content flex-1" style="flex: 1 1 65%; color: #10172a;">
            <h4 class="card-title" style="font-size: 18px;">
                <%= simple_format(truncate(post.lyricks, length: 100, separator: ' ', omission: '…'), {}, wrapper_tag: "div") %>
            </h4>     
            <p class="card-text"><%= simple_format(post.song_title) %></p>
          </div>
          <div class="spotify-embed" style="flex: 1 1 35%;">
            <% if post.link_to_music.include?("spotify.com") %>
              <iframe src="https://open.spotify.com/embed/track/<%= post.link_to_music.split("/").last %>" class="w-full h-full" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <% else %>
              <!-- 埋め込みがない場合でもエリアを確保 -->
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
