<%= search_form_for @q, url: search_posts_path, html: { data: { turbo_frame: "posts-list" }, class: "bg-black shadow-md rounded px-16 pt-4 mb-4 flex flex-wrap" } do |f| %>
  <div class="flex flex-grow items-center mb-4 mr-4">
    <%= f.label :song_title_cont, "曲名", class: "block text-white text-sm font-bold mb-2 mr-2 w-8" %>
    <%= f.search_field :song_title_cont, class: "shadow appearance-none border rounded w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="flex flex-grow items-center mb-4 mr-4">
    <%= f.label :artist_cont, "アーティスト", class: "block text-white text-sm font-bold mb-2 mr-2 w-28" %>
    <%= f.search_field :artist_cont, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="flex flex-grow items-center mb-4 mr-4">
    <%= f.label :tags_name_cont, "タグ", class: "block text-white text-sm font-bold mb-2 mr-2 w-8" %>
    <%= f.search_field :tags_name_cont, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="flex items-center mb-4">
    <%= f.submit "検索", class: "bg-orange-400 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
