<div class="flex justify-center">
  <div class="w-8/12 mb-3 mt-5" style="min-height: 300px; overflow-y: auto; text-color: black;">
  <h1 style="font-size: 32px; text-align: left;"><%= t('.title') %></h1>
    <div id="post-id-<%= @post.id %>" class="card card-side bg-base-100 shadow-xl" style="min-height: 300px; background-color: white;">
      <div class="card-body flex flex-row"> 
        <div class="content flex-1" style="flex: 1 1 65%; display: flex; flex-direction: column; justify-content: space-between; align-items: center;"> 
          <div>
            <h4 class="card-title" style="font-size: 18px; color: black;">
              <%= simple_format(@post.lyricks) %>
            </h4>
          </div>
          <div>
            <ul class="list-inline" style="color: black; padding-left: 0;"> 
              <li class="list-inline-item"><%= @post.song_title %></li>
              <li class="list-inline-item">by <%= @post.artist %></li>
            </ul>
          </div>
        </div>
        <div class="spotify-embed" style="flex: 1 1 35%;"> 
          <% if @post.link_to_music.include?("spotify.com") %>
            <iframe src="https://open.spotify.com/embed/track/<%= @post.link_to_music.split("/").last %>"  width="100%" height="352px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <% else %>
            <!-- 埋め込みがない場合のエリア -->
          <% end %>
        </div>
      </div>
    </div>
      <% if user_signed_in? %>
        <div class="buttons-container mt-3" style="display: flex; gap: 10px; justify-content: flex-end;">
          <%= button_to t('defaults.delete'), post_path(@post), method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-secondary' %>
          <%= link_to t('defaults.edit'), edit_post_path(@post), class: 'btn btn-primary' %>
        </div>
      <% end %>
  </div>
  <%= render 'comment' %>
</div>
