<div class="flex justify-center">
  <div class="w-8/12 mb-3" style="min-height: 300px; overflow-y: auto text-color: black;">
  <h1 style="font-size: 32px; text-align: left;"><%= t('.title') %></h1>
    <div id="post-id-<%= @post.id %>" class="card card-side bg-base-100 shadow-xl" style="min-height: 300px; background-color: white;">
      <div class="card-body flex flex-row"> <!-- ここでフレックスボックスを横並びに設定 -->
        <div class="content flex-1" style="flex: 1 1 65%;"> <!-- ここでコンテンツに65%の幅を設定 -->
          <h4 class="card-title" style="font-size: 18px; color: black;">
              <p><%= simple_format(@post.lyricks) %></p>
          </h4>     
          <ul class="list-inline" style="color: black;">
            <li class="list-inline-item"><%= @post.song_title %></li>
            <li class="list-inline-item">by  <%= @post.artist %></li>
          </ul>
        </div>
        <div class="spotify-embed" style="flex: 1 1 35%;"> <!-- ここでSpotify埋め込みに35%の幅を設定 -->
          <% if @post.link_to_music.include?("spotify.com") %>
            <iframe src="https://open.spotify.com/embed/track/<%= @post.link_to_music.split("/").last %>" class="w-full h-full" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <% else %>
            <!-- 埋め込みがない場合でもエリアを確保 -->
          <% end %>
        </div>
      </div>
    </div>
      <% if user_signed_in? %>
        <%= link_to t('.back'), posts_path, class: 'btn btn-secondary' %>
        <%= link_to t('.edit'), edit_post_path(@post), class: 'btn btn-primary' %>
      <% end %>
  </div>
</div>
