<%= form_with url: spotify_tracks_path, local: true, data: { controller: "form" } do |form| %>
  <h2 class="text-xl font-semibold mb-4 text-center"><%= t('defaults.track') %></h2>
  <div class="flex flex-wrap justify-center gap-4" style="color: black;"> 
    <% 5.times do |index| %>
      <div class="flex flex-col items-center space-y-2">
        <%= form.text_field :track_query, 
                            id: "track_query_#{index}", 
                            name: "track_query[#{index}]", 
                            value: @track_names[index],
                            autocomplete: "off", 
                            class: "form-input border border-gray-300 rounded-md shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500", 
                            data: { action: "input->form#search", index: index } %>
        <%= form.hidden_field :track_id, 
                              id: "track_id_#{index}", 
                              name: "track_id[#{index}]", 
                              value: @seed_tracks[index]
                              %>
        <div id="tracks_<%= index %>" turbo-frame="tracks_<%= index %>" class="w-full" >
          <!-- 検索結果がここに表示されます -->
        </div>      
      </div>
    <% end %>
  </div>
  <div class="flex justify-center mt-4">
    <%= form.submit t('defaults.search'), class: 'px-4 py-2 bg-orange-400 text-black font-bold rounded-md hover:bg-orange-500 transition-colors duration-200 ease-in-out' %>
  </div>
<% end %>
