<%= form_with url: spotify_tracks_path, local: true, data: { controller: "form" } do |form| %>
  <h2 class="text-xl font-semibold mb-4"><%= t('defaults.artist') %></h2>
  <div class="flex flex-wrap gap-4"> 
    <% 5.times do |index| %>
      <div class="flex  items-center space-x-2"> 
        <%= form.text_field :artist_query, 
                            id: "artist_query_#{index}", 
                            name: "artist_query[#{index}]", 
                            value: @artist_names[index],
                            autocomplete: "off", 
                            class: "form-input border border-gray-300 rounded-md shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500", 
                            data: { action: "input->form#search", index: index } %>
        <%= form.hidden_field :artist_id, 
                              id: "artist_id_#{index}", 
                              name: "artist_id[#{index}]", 
                              value: @seed_artists[index]
                              %>
        <div id="artists_<%= index %>" turbo-frame="artists_<%= index %>" class="mt-2">
          <!-- 検索結果 -->
        </div>      
      </div>
    <% end %>
  </div>
  <br>
  <h2 class="text-xl font-semibold mb-4"><%= t('defaults.track') %></h2>
  <div class="flex flex-wrap gap-4"> 
    <% 5.times do |index| %>
      <div class="flex items-center space-x-2"> 
        <%= form.text_field :track_query, 
                            id: "track_query_#{index}", 
                            name: "track_query[#{index}]", 
                            value: @track_names[index],
                            autocomplete: "off", 
                            class: "form-input border border-gray-300 rounded-md shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500", 
                            data: { action: "input->form#search", index: index } %>
        <%= form.hidden_field :track_id, 
                              id: "track_id_#{index}", 
                              name: "track_id[#{index}]", 
                              value: @seed_tracks[index]
                              %>
        <div id="tracks_<%= index %>" turbo-frame="tracks_<%= index %>" class="mt-2">
          <!-- 検索結果がここに表示されます -->
        </div>      
      </div>
    <% end %>
  </div>
  <%= form.submit t('defaults.search'), class: 'mt-4 px-4 py-2 bg-blue-500 text-white font-bold rounded-md hover:bg-blue-700 transition-colors duration-200 ease-in-out' %>
<% end %>
