<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <script src="//unpkg.com/alpinejs" defer></script>
  <meta name="google-site-verification" content="iW95GPPZQ9c97gjZHtQce8YKEJyS40B3E2h-o3PeP1c" />
  <!-- ファビコン -->
  <%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
  <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
  <%= favicon_link_tag 'favicon-48x48.png', rel: 'icon', type: 'image/png', sizes: '48x48' %>
  <%= favicon_link_tag 'favicon-64x64.png', rel: 'icon', type: 'image/png', sizes: '64x64' %>
  <%= favicon_link_tag 'favicon-128x128.png', rel: 'icon', type: 'image/png', sizes: '128x128' %>
  <%= favicon_link_tag 'favicon-256x256.png', rel: 'icon', type: 'image/png', sizes: '256x256' %>
  <%= display_meta_tags(default_meta_tags) %>
</head>

<body>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RTNMV7VMY3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RTNMV7VMY3');
  </script>
  <div class="site-wrapper">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <turbo-frame id="flash_messages">
      <div class="flash-message">
        <%= render 'shared/flash_message' %>
      </div>
    </turbo-frame>

    <div id="main-content">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>    
  </div>
</body>

</html>
