<!DOCTYPE html>
<html>
  <head>
    <title>Emouta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="//unpkg.com/alpinejs" defer></script>
    <meta name="google-site-verification" content="iW95GPPZQ9c97gjZHtQce8YKEJyS40B3E2h-o3PeP1c" />
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Kiwi+Maru&family=Klee+One&family=Kosugi+Maru&family=Tsukimi+Rounded&family=Zen+Antique&display=swap" rel="stylesheet">
  </head>

<body>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RTNMV7VMY3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RTNMV7VMY3');
  </script>
  <div class="site-wrapper">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <div class="flash-message">
      <%= render 'shared/flash_message' %>
    </div>

    <div id="main-content">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>    
  </div>
</body>

</html>
